<% include ../public/html/test/head.html %>
<body data-open="click" data-menu="vertical-menu" data-col="2-columns" class="vertical-layout vertical-menu 2-columns menu-expanded"></body>
<% include ../public/html/test/navbar.html %>
<% include ../public/html/test/menu.html %>

<!-- BEGIN Content-->
<div class="app-content content container-fluid">
    <div class="content-wrapper">
        <!-- content header-->
        <div class="content-header row">
        </div>
        <!-- content header-->

        <!-- content body-->
        <div class="content-body">
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-xs-12">
                    <div class="card bg-cyan">
                        <div class="card-body">
                            <div class="card-block">
                                <div class="media">
                                    <div class="media-left media-middle">
                                        <i class="fas fa-ethernet white font-large-2 float-xs-left"></i>
                                    </div>
                                    <div class="media-body white text-xs-right">
                                        <h3 id="interface_number">Loading...</h3>
                                        <span>Interfaces</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-xs-12">
                    <div class="card bg-teal">
                        <div class="card-body">
                            <div class="card-block">
                                <div class="media">
                                    <div class="media-left media-middle">
                                        <i class="fas fa-ethernet white font-large-2 float-xs-left"></i>
                                    </div>
                                    <div class="media-body white text-xs-right">
                                        <h3 id="active_interfaces">Loading...</h3>
                                        <span>Actives</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-xs-12">
                    <div class="card bg-deep-orange">
                        <div class="card-body">
                            <div class="card-block">
                                <div class="media">
                                    <div class="media-left media-middle">
                                        <i class="fas fa-ethernet white font-large-2 float-xs-left"></i>
                                    </div>
                                    <div class="media-body white text-xs-right">
                                        <h3 id="inactive_interfaces">Loading...</h3>
                                        <span>Désactivées</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Débits des interfaces</h4>
                            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                    <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                    <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                    <li><a data-action="close"><i class="icon-cross2"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body collapse in">
                            <div class="card-block">
                                <div class="chartjs">
                                    <canvas id="line-chart" width="400" height="400"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content body-->

    </div>
</div>
<!-- END Content-->

<script src="/app-assets/vendors/js/charts/chart.min.js" type="text/javascript"></script>
<script>
socket.emit('loaded','interfaces');
socket.on('reload', ()=>{
    socket.emit('loaded','interfaces');
})
socket.on('Interfaces_Number', function(msg){
      console.log(msg);
      $('#interface_number').html(msg);
    });
socket.on('Active_Interfaces', function(msg){
    console.log(msg);
    $('#active_interfaces').html(msg);
});
socket.on('Inactive_Interfaces', function(msg){
    console.log(msg);
    $('#inactive_interfaces').html(msg);
});
</script>
<script>
var lineChart = null
socket.on("Debit", function(tabs){

//Get the context of the Chart canvas element we want to select
var ctx = $("#line-chart");

// Chart Options
var chartOptions = {
    responsive: true,
    maintainAspectRatio: false,
    legend: {
        position: 'bottom',
    },
    hover: {
        mode: 'label'
    },
    scales: {
        xAxes: [{
            display: true,
            gridLines: {
                color: "#f3f3f3",
                drawTicks: false,
            },
            scaleLabel: {
                display: true,
                labelString: 'Month'
            }
        }],
        yAxes: [{
            display: true,
            gridLines: {
                color: "#f3f3f3",
                drawTicks: false,
            },
            scaleLabel: {
                display: true,
                labelString: 'Value'
            }
        }]
    },
    title: {
        display: false,
        text: 'Chart.js Line Chart - Legend'
    }
};

// Chart Data
var chartData = {
    labels: tabs[0],
    datasets: [{
        label: "My First dataset",
        data: tabs[1],
        fill: false,
        //borderDash: [5, 5],
        borderColor: "#673AB7",
        pointBorderColor: "#673AB7",
        pointBackgroundColor: "#FFF",
        pointBorderWidth: 2,
        pointHoverBorderWidth: 2,
        pointRadius: 4,
    }]
};

var config = {
    type: 'line',

    // Chart Options
    options : chartOptions,

    data : chartData
};

// Create the chart
lineChart = new Chart(ctx, config);
});

function addData(chart, label, data) {
    chart.data.labels.shift();
    chart.data.labels.push(label);
    chart.data.datasets.forEach((dataset) => {
        dataset.data.shift();
        dataset.data.push(data);
    });
    chart.update();
}


socket.on("debi1", (tab) =>{
    addData(lineChart, tab[0], tab[1]);
})
</script>

<% include ../public/html/test/foot.html %>