<% include ../public/html/test/head.html %>
<body data-open="click" data-menu="vertical-menu" data-col="2-columns" class="vertical-layout vertical-menu 2-columns menu-expanded"></body>
<% include ../public/html/test/navbar.html %>
<% include ../public/html/test/menu.html %>

<!-- BEGIN Content-->
<div class="app-content content container-fluid">
    <div class="content-wrapper">
        <!-- content header-->
        <div class="content-header row">
        </div>
        <!-- content header-->

        <!-- content body-->
        <div class="content-body">
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Special title treatment</h4>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                    <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                    <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                    <li><a data-action="close"><i class="icon-cross2"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body collapse in" aria-expanded="true">
                            <div class="card-block">
                                <p class="card-text">Voici le nombre aléatoire entre 1 et 10 : </p>
                                <a href="#" id="ici" class="btn btn-primary"><%= number %></a>
                            </div>
                        </div>
                        <div class="card-footer">
                            <span class="text-muted">ABCD</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content body-->

    </div>
</div>
<!-- END Content-->

<script src="/socket.io/socket.io.js"></script>
<script>

var socket = io();
socket.on('news', function(msg){
      console.log(msg);
      $('#ici').html(msg);
    });
</script>
</body>

<% include ../public/html/test/foot.html %>